﻿@model IList<Ditto.AI.LeaveBookingSystem.DAL.Models.User>
@{
    ViewBag.Title = "AdminPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="padding-top:10px;font-family:'Nirmala UI'">Manage Users</h2><br />

<table id="myAdminTable" border="1" width="700" height="40">
    <tr>
        <th style="padding:5px;font-family:'Nirmala UI'">Employee</th>
        @*<th style="padding:5px">Last name</th>*@
        <th style="padding:5px;font-family:'Nirmala UI'">Email</th>
        <th style="padding:5px;font-family:'Nirmala UI'">Allowance</th>
        <th style="padding:5px;font-family:'Nirmala UI'">Access Level</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td style="padding:5px;font-family:'Nirmala UI'">@user.FirstName @user.LastName</td>
            @*<td style="padding:5px">@user.LastName</td>*@
            <td style="padding:5px;font-family:'Nirmala UI'">@user.Email</td>
            <td style="padding:5px;font-family:'Nirmala UI'">
                <input type="number" onchange="myUpdateAllowanceFunction(@user.ID, this.value)" value="@user.Allowance" style="font-family:'Nirmala UI'"/>
            </td>
            <td style="padding:5px;font-family:'Nirmala UI'">
                <select class="ddlAccessLevel" onchange="myUpdateAccessLevelFunction(@user.ID, this)" style="font-family:'Nirmala UI'">
                    @foreach (var option in ViewBag.UserAccessLevels)
                    {
                        if (user.AccessLevelID == @option.ID)
                        {
                            <option id=@option.ID selected>@option.Level</option>
                        }
                        else
                        {
                            <option id=@option.ID>@option.Level</option>
                        }

                    }
                </select>

            </td>

        </tr>
    }
</table>

@Scripts.Render("~/bundles/jquery")

<script>
    //sort table alpabetically by name
    //function sortTable()
    //{
    //    var table = document.getElementById("myAdminTable");
    //    var Array = [];
    //    //loop through all table rows except header
    //    for (var i=1, ln=table.rows.length; i<ln; i++)
    //    {
    //        var row = table.rows[i];
    //        var secondCell = row.cells[0].textContent;
    //        Array.push([secondCell, row]);
    //    }
    //    //sort by second column of inner arrays
    //    Array = Array.sort(function (a,b)
    //    {
    //        return a[0] > b[0];
    //    });
    //    for (var i=0, ln=Array.length; i<ln; i++)
    //    {
    //        table.appendChild(Array[i][1]);
    //    }
    //    Array = null;
    //}
    //sortTable();

    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("myAdminTable");
    switching = true;
    //Make a loop that will continue until no switching has been done:
    while (switching) {
        //start by saying: no switching is done:
        switching = false;
        rows = table.getElementsByTagName("TR");
        //Loop through all table rows (except the first, which contains table headers):
        for (i = 1; i < (rows.length - 1); i++) {
            //start by saying there should be no switching:
            shouldSwitch = false;
            //Get the two elements you want to compare, one from current row and one from the next:
            x = rows[i].getElementsByTagName("TD")[0];
            y = rows[i + 1].getElementsByTagName("TD")[0];
            //check if the two rows should switch place:
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
            }
        }
        if (shouldSwitch) {
            //If a switch has been marked, make the switch and mark that a switch has been done:
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
        }
    }

    //update user access level by selecting from drop down list
    function myUpdateAccessLevelFunction(userId, ddl)
    {
        var selectedAccessLevelID = ddl.selectedOptions[0].id
        
        $.get("/Home/UpdateUserAccessLevel", { userID: userId, userAccessLevelID: selectedAccessLevelID }, function (updatedItem) {
            //window.location.href = '/Home/PendingRequests';
        });
    }

    function myUpdateAllowanceFunction(userId, selectedAllowance)
    {
        $.get("/Home/UpdateUserAllowance", { userID: userId, userAllowance: selectedAllowance }, function (updatedItem) {
            window.location.href = '/Home/AdminPage';
        })
    }

    //$(document).ready(function () {
    //    $("#ddlAccessLevel").change(function () {

    //        alert('tree');
    //    })
    //})

</script>

