﻿@model IList<Ditto.AI.LeaveBookingSystem.DAL.Models.Request>
@{
    ViewBag.Title = "CancelRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="padding-top:10px;font-family:'Nirmala UI'">Cancel Annual Leave</h2>

<p style="font-family:'Nirmala UI'">
    Choose annual leave to cancel.
</p><br />
<table id="myCancelTable" border="1" width="450" height="40">
    <tr>
        <th style="padding:5px;font-family:'Nirmala UI'">Start Date</th>
        <th style="padding:5px;font-family:'Nirmala UI'">End Date</th>
        <th style="padding:5px;font-family:'Nirmala UI'">Number of Days Leave</th>
        <th></th>
    </tr>
    @foreach (var request in Model)
    {
        <tr>
            <td style="padding:5px;font-family:'Nirmala UI'">@request.StartDate.ToShortDateString()</td>
            <td style="padding:5px;font-family:'Nirmala UI'">@request.EndDate.ToShortDateString()</td>
            <td style="padding:5px;font-family:'Nirmala UI'">@request.NumOfDays</td>
            <td style="padding-left:10px;font-family:'Nirmala UI'"><button onclick="myCancelFunction(@request.ID)" style="font-family:'Nirmala UI'">Cancel</button></td>
        </tr>
    }
</table>

<script>
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("myCancelTable");
    switching = true;
    //Make a loop that will continue until no switching has been done:
    while (switching) {
        //start by saying: no switching is done:
        switching = false;
        rows = table.getElementsByTagName("TR");
        //Loop through all table rows (except the first, which contains table headers):
        for (i = 1; i < (rows.length - 1); i++) {
            //start by saying there should be no switching:
            shouldSwitch = false;
            //Get the two elements you want to compare, one from current row and one from the next:
            x = rows[i].getElementsByTagName("TD")[0];
            y = rows[i + 1].getElementsByTagName("TD")[0];
            //check if the two rows should switch place:
            if (x.innerHTML.valueOf > y.innerHTML.valueOf) {
                //if so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
            }
        }
        if (shouldSwitch) {
            //If a switch has been marked, make the switch and mark that a switch has been done:
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
        }
    }

    function myCancelFunction(requestId)
    {
        var result = confirm("Are you sure you want to cancel this annual leave?")
        if (result)
        {
            deleteRequest(requestId);
        }
    }

    function deleteRequest(requestId) {
        $.get("/Home/DeleteRequest", { requestID: requestId }, function (deletedItem) {
            alert('Request cancelled.');

            //refresh page
            window.location.href = '/Home/CancelRequest';
        })
    }
</script>