﻿@model IList<Ditto.AI.LeaveBookingSystem.DAL.Models.Request>
@{
    ViewBag.Title = "PendingRequests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="padding-top:10px;font-family:'Nirmala UI'">Pending Requests from Team</h2>

<p style="font-family:'Nirmala UI'">
    Choose whether to accept or reject an employee's request for annual leave, and add a note.
</p><br />
<table id="myPendingTable" border="1" width="875" height="40">
    <tr>
        <th style="padding:5px;font-family:'Nirmala UI'">Employee</th>
        <th style="padding:5px;font-family:'Nirmala UI'">Start Date</th>
        <th style="padding:5px;font-family:'Nirmala UI'">End Date</th>
        <th style="padding:5px;font-family:'Nirmala UI'">No. of Days</th>
        <th style="padding:5px;font-family:'Nirmala UI'">Additional Notes</th>
        <th style="padding:5px;font-family:'Nirmala UI'">Add Manager Notes</th>
        <th></th>
    </tr>
    @foreach (var request in Model)
    {
        <tr>
            <td style="padding:5px;font-family:'Nirmala UI'">@request.User.FirstName @request.User.LastName</td>
            <td style="padding:5px;font-family:'Nirmala UI'">@request.StartDate.ToShortDateString()</td>
            <td style="padding:5px;font-family:'Nirmala UI'">@request.EndDate.ToShortDateString()</td>
            <td style="padding:5px;font-family:'Nirmala UI'">@request.NumOfDays</td>
            <td style="padding:5px;font-family:'Nirmala UI'">@request.UserNotes</td>
            <td style="padding-left:5px;font-family:'Nirmala UI'"><input type="text" id="notes" onblur="mySaveNotesFunction(@request.ID, this.value)" value="@request.ManagerNotes"></td>
            <td style="padding-left:10px;font-family:'Nirmala UI'">
                <button onclick="myAcceptFunction(@request.ID)" style="font-family:'Nirmala UI'">Accept</button> &nbsp;
                <button onclick="myRejectFunction(@request.ID)" style="font-family:'Nirmala UI'">Reject</button>
            </td>
        </tr>
    }
</table>

<script>
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("myPendingTable");
    switching = true;
    //Make a loop that will continue until no switching has been done:
    while (switching) {
        //start by saying: no switching is done:
        switching = false;
        rows = table.getElementsByTagName("TR");
        //Loop through all table rows (except the first, which contains table headers):
        for (i = 1; i < (rows.length - 1); i++) {
            //start by saying there should be no switching:
            shouldSwitch = false;
            //Get the two elements you want to compare, one from current row and one from the next:
            x = rows[i].getElementsByTagName("TD")[0];
            y = rows[i + 1].getElementsByTagName("TD")[0];
            //check if the two rows should switch place:
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
            }
        }
        if (shouldSwitch) {
            //If a switch has been marked, make the switch and mark that a switch has been done:
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
        }
    }

    function myAcceptFunction(requestId) {
        acceptRequest(requestId);
    }


    function acceptRequest(requestId) {
        $.get("/Home/AcceptRequest", { requestID: requestId }, function (acceptedItem) {
            alert('Request accepted.');
            //refresh page
            window.location.href = '/Home/PendingRequests';
        })
    }

    function myRejectFunction(requestId) {
        rejectRequest(requestId);
    }


    function rejectRequest(requestId) {
        $.get("/Home/RejectRequest", { requestID: requestId }, function (rejectedItem) {
            alert('Request rejected.');
            //refresh page
            window.location.href = '/Home/PendingRequests';
        })
    }

    function mySaveNotesFunction(requestId, notesText) {

        $.get("/Home/UpdateNotesOnRequest", { requestID: requestId, notesText: notesText }, function (updatedItem) {
            window.location.href = '/Home/PendingRequests';
        })
    }

</script>