﻿@model IList<Ditto.AI.LeaveBookingSystem.DAL.Models.TeamUser>
@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="padding-top:10px;font-family:'Nirmala UI'">My Team</h2><br />

<table id="myTeamTable" border="1" width="700" height="40">
    <tr>
        <th style="padding:5px;font-family:'Nirmala UI'">Employee</th>
        @*<th style="padding:5px">Last name</th>*@
        <th style="padding:5px;font-family:'Nirmala UI'">Leave Allowance</th>
        @*<th style="padding:5px">Amount of leave booked</th>*@
        <th style="padding:5px;font-family:'Nirmala UI'">Email</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td style="padding:5px;font-family:'Nirmala UI'">@user.User.FirstName @user.User.LastName &nbsp;
            @if (@user.User.ID == Convert.ToInt32(Session["UserID"]))
            {
                <label style="border:solid;border-width:thin;padding-left:2px;padding-right:2px;font-weight:lighter;margin-bottom:0px">Me!</label>
            }
            </td>
            @*<td style="padding:5px">@user.User.LastName</td>*@
            <td style="padding:5px;font-family:'Nirmala UI'">@user.User.Allowance</td>
            @*<td style="padding:5px">@user.User.Requests.NumOfDays</td>*@
            <td style="padding:5px;font-family:'Nirmala UI'">@user.User.Email</td>
        </tr>
    }
</table>

<script>
//sort table alpabetically by name
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("myTeamTable");
    switching = true;
    //Make a loop that will continue until no switching has been done:
    while (switching) {
        //start by saying: no switching is done:
        switching = false;
        rows = table.getElementsByTagName("TR");
        //Loop through all table rows (except the first, which contains table headers):
        for (i = 1; i < (rows.length - 1); i++) {
            //start by saying there should be no switching:
            shouldSwitch = false;
            //Get the two elements you want to compare, one from current row and one from the next:
            x = rows[i].getElementsByTagName("TD")[0];
            y = rows[i + 1].getElementsByTagName("TD")[0];
            //check if the two rows should switch place:
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
            }
        }
        if (shouldSwitch) {
            //If a switch has been marked, make the switch and mark that a switch has been done:
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
        }
    }

//function sortTable()
//{
//    var table = document.getElementById("myTable");
//    var Array = [];
//    //loop through all table rows except header
//    for(var i=1, ln=table.rows.length; i<ln; i++)
//    {
//        var row = table.rows[i];
//        var secondCell = row.cells[0].textContent;
//        Array.push([secondCell, row]); 
//    }
//    //sort by second column of inner arrays
//    Array = Array.sort(function(a,b) 
//    {
//        return a[0] > b[0];
//    });
//    for(var i=0, ln=Array.length; i<ln; i++)
//    {
//        table.appendChild(Array[i][1]);
//    }
//    Array = null;
//}
//sortTable();
</script>