﻿
@{
    ViewBag.Title = "UserRequestForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="padding-top:10px;font-family:'Nirmala UI'">Request Form</h2>


<p style="font-family:'Nirmala UI'">
    Submit a request for annual leave here.
</p><br />
<p>
    <label for="startdate" style="font-family:'Nirmala UI';font-weight:normal;font-size:medium">What is the start date?</label> <br />
    <input type="date" id="startdate" data-date-format="DD/MM/YYYY" style="font-family:'Nirmala UI'"/>
</p><p>
    <label for="enddate" style="font-family:'Nirmala UI';font-weight:normal;font-size:medium">What is the end date?</label> <br />
    <input type="date" id="enddate" data-date-format="DD/MM/YYYY" style="font-family:'Nirmala UI'"/>
</p><p>
    <label for="duration" style="font-family:'Nirmala UI';font-weight:normal;font-size:medium">What is the duration of leave? (in days)</label> <br />
    <input type="number" id="duration" style="font-family:'Nirmala UI'"/>
</p><p>
    <label for="notes" style="font-family:'Nirmala UI';font-weight:normal;font-size:medium">Additional notes:</label> <br />
    <textarea id="notes" name="notes" style="font-family:'Nirmala UI'" placeholder="Enter text here..." form="usrform"></textarea>
</p><p>
    <input type="submit" id="submit" style="font-family:'Nirmala UI'" onclick="mySubmitFunction()"/>
</p>

<script>
function mySubmitFunction()
{

    var startDate = $("#startdate").val();

    //check startdate!= ""
    if (startDate == "")
    {
        alert("No start date");
        return;
    }

    var formattedStartDate = setDateFormat(startDate);

    var endDate = $("#enddate").val();

    //Same for end date
    if (endDate == "")
    {
        alert("No end date");
        return;
    }

    var formattedEndDate = setDateFormat(endDate);

    var duration = $("#duration").val();
    var notes = $("#notes").val();

    //validation for duration input
    if (duration == null)
    {
        alert("No duration input");
        return;
    }

    ////validation for startDate input
    //if (startDate == null)
    //{
    //    alert("No startDate input");
    //    return;
    //}

    ////validation for endDate input
    //if (endDate == null)
    //{
    //    alert("No endDate input");
    //    return;
    //}
    
    //enddate > start date
    if ((Date.parse(startDate) > Date.parse(endDate)))
    {
        alert("End date cannot be before Start date");
        return;
    }
    
    //is startdate and enddate > current date
    var currentDate = getCurrentDate();

    if ((Date.parse(startDate) <= Date.parse(currentDate)))
    {
        alert("Start date cannot be before the current date");
        return;
    }

    var userNotes = $("#notes").val();


    saveRequest(formattedStartDate, formattedEndDate, duration, userNotes);
    

    }    


    function saveRequest(startDate, endDate, duration, userNotes)
    {


        ////call the homecontroller saverequest method
        $.getJSON("/Home/SaveRequest", {startDate: startDate, endDate: endDate, duration: duration, userNotes: userNotes },
            function (savedItem)
            {
                alert('Request Submitted!');
                window.location.href = '/Home/UserRequestForm';
            });


    }


function setDateFormat(oldDate) 
{

    var finalDateString = "";


    var dateObject = new Date(oldDate);
    var day = dateObject.getDate();


    finalDateString += day;
    finalDateString += "/";

    var month = dateObject.getMonth() + 1;
    finalDateString += month;
    finalDateString += "/";

    var year = dateObject.getFullYear();
    finalDateString += year;

    return finalDateString;
}

function getCurrentDate() 
{
    var currentDate = "";
    var todayDate = new Date();
    var day = todayDate.getDate();
    currentDate += day;
    currentDate += "/";
    var month = todayDate.getMonth() + 1;
    currentDate += month;
    currentDate += "/";
    var year = todayDate.getFullYear();
    currentDate += year;
    return currentDate;
}

</script>