﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="header" style="width:100%;height:105px;font-family:'Nirmala UI';background-color:#eeeeee;color:#FF771D;font-size:40px;text-align:center;padding-top:20px;border-bottom:1px solid #FF771D";">
        Leave Booking System
    </div>

    <div id="leftMenu" style="width:270px;height:100vh;background-color:#eeeeee;color:black;padding-top:40px;float:left;margin-right:40px;border-right:1px solid #FF771D">
        <ul>
            <li style="list-style:none;margin-bottom:15px;font-family:'Nirmala UI';font-size:larger">My Leave Requests</li>
            <li style="list-style:none;margin-bottom:10px;"><a href="javascript:window.location.href='/Home/UserRequestForm'" style="color:#FF771D;font-family:'Nirmala UI'">Submit a Request</a></li>
            <li style="list-style:none;margin-bottom:10px;"><a href="javascript:window.location.href='/Home/BookedLeave'" style="color:#FF771D;font-family:'Nirmala UI'">View Booked Annual Leave</a></li>
            <li style="list-style:none;margin-bottom:10px;"><a href="javascript:window.location.href='/Home/SubmittedRequests'" style="color:#FF771D;font-family:'Nirmala UI'">View Submitted Requests</a></li>
            <li style="list-style:none;margin-bottom:40px;"><a href="javascript:window.location.href='/Home/CancelRequest'" style="color:#FF771D;font-family:'Nirmala UI'">Cancel Annual Leave</a></li>
            @*@if(Model.UserAccessLevel.Level == "Manager")
            {

            }*@
            @if (Convert.ToInt32(Session["UserAccessLevel"]) == 2)
            {
                <li style="list-style:none;margin-bottom:15px;font-family:'Nirmala UI';font-size:larger">My Team</li>
                <li style="list-style:none;margin-bottom:10px;"><a href="javascript:window.location.href='/Home/Team'" style="color:#FF771D;font-family:'Nirmala UI'">My Team</a></li>
                <li style="list-style:none;margin-bottom:10px;"><a href="javascript:window.location.href='/Home/TeamLeave'" style="color:#FF771D;font-family:'Nirmala UI'">My Team's Annual Leave</a></li>
                <li style="list-style:none;margin-bottom:40px;"><a href="javascript:window.location.href='/Home/PendingRequests'" style="color:#FF771D;font-family:'Nirmala UI'">View Pending Requests</a></li>
            }
            @if (Convert.ToInt32(Session["UserAccessLevel"]) == 3)
            {
                <li style="list-style:none; margin-bottom:15px;font-family:'Nirmala UI';font-size:larger">Administration</li>
                <li style="list-style:none;margin-bottom:40px;"><a href="javascript:window.location.href='/Home/AdminPage'" style="color:#FF771D;font-family:'Nirmala UI'">Manage Users</a></li>
            }
            <li style="list-style:none;margin-bottom:10px"><a onclick="logout()" style="cursor:pointer;color:#FF771D;font-family:'Nirmala UI'"><b>Logout</b></a></li>
        </ul>

    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
<script>
    function logout()
    {
        $.get("/Home/Logout", {}, function () {
            window.location.href = '/Login.aspx';
        })
    }

</script>

</html>
